.sidebar-container{
    width: 200px;
    height: 100vh;
    background-color: rgb(189, 209, 247);
    z-index: 2;
    position: fixed;
    top: 0;
    color: black;
}
.hide{
    left: -100%;
    transition: 350ms;
}
.topbar{
    background-color: rgb(189, 209, 247);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon{
    font-size: 30px;
    margin-left: 20px;
}
.icon-container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.links-container{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.link{
    color: black;
    font-size: 25px;
    text-decoration: none;
    outline: none;
    margin-bottom: 25px;
}
.link-icon{
    margin-right: 8px;
    font-size: 25px;
}

@media only screen and (max-width: 425px) {
    .icon{
        font-size: 20px;
    }
    .sidebar-container{
        width: 120px;
    }
    .link{
        font-size: 15px;
    }
    .link-icon{
        font-size: 15px;
    }
  }